<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Debugging This, <%= @user.first_name.capitalize %></h1>
    <p>
      You have successfully signed up to Debugging This.
      Your username is: <%= @user.email %>.<br />
    </p>
    <p>
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>